#header{
    background-image: url("../img/PIC.jng/h_img.jpg");
    background-size: cover;
  
    background-repeat: no-repeat;
    height: 100%;
   
    text-align: center;
    color:white;
padding:100px 90px;
}
#header,p{
    font-size: 10px;
}
#header,h1{
font-size: 90px;
}
#aboutus{
    text-align: center;
   
}
#aboutus,h2{
    font-weight: bolder;
    padding-top: 1%;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#aboutus,p{
    font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    
}
#services{
    background-image: url("../img/LIC.png/s_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 100px;
    text-align: center;
    color: white;
}
#services,p{
    font-size:20px;
}
#whatwedo{
    text-align: center;
    padding-top:3%;
}
.main-project{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    margin-right:10%;
    margin-left:10%;
    padding-top:5%;
}
#portfolio{
    text-align: center;
    padding-top:5%;
    margin-bottom:5%;
}
/* .change{

  /* width:30px;
   */
  /* padding-right: 10px; */

} */
.row{
    padding:10px;
  
    margin-right:5%;
    margin-left:2%;
}
#contactus{
    background-image: url("../img/c_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 100px;
    text-align:center;
    color:white;
}
.col-md-6{
    size:80px;
}
#social{
    text-align: center;
    font-size:10px;
    padding-top:2%;
}
.paragraph-showing, .p-showing, .p3-showing{
    display: none;
}
form{
    margin-left:200px;
}
.hov{
    top:35%;
    left:45%;
    transform:translate(-50%,-50%);
    font-size:28px;
    text-align:center;
    position:absolute;
    width:60%;
    height:70%;
}
.hov >p{
    position:absolute;
    transform:translate(-50%);
    color:white;
    width:100%;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    top:55%;
    text-align:center;
    padding:0;
    margin:0;
    font-size:28px;
    left:45%;
background-color: black;
}
.hov1{
    top:35%;
    left:45%;
    transform:translate(-50%,-50%);
    font-size:28px;
    text-align:center;
    position:absolute;
    width:60%;
    height:70%;
}
.hov1 >p{
    position:absolute;
    transform:translate(-50%);
    color:white;
    width:100%;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    top:55%;
    text-align:center;
    padding:0;
    margin:0;
    font-size:28px;
    left:45%;
background-color: black;
}
.hov2{
    top:35%;
    left:45%;
    transform:translate(-50%,-50%);
    font-size:28px;
    text-align:center;
    position:absolute;
    width:60%;
    height:70%;
}
.hov2 >p{
    position:absolute;
    transform:translate(-50%);
    color:white;
    width:100%;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    top:55%;
    text-align:center;
    padding:0;
    margin:0;
    font-size:28px;
    left:45%;
background-color: black;
}
.hov3{
    top:35%;
    left:45%;
    transform:translate(-50%,-50%);
    font-size:28px;
    text-align:center;
    position:absolute;
    width:60%;
    height:70%;
}
.hov3 >p{
    position:absolute;
    transform:translate(-50%);
    color:white;
    width:100%;
    font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    top:55%;
    text-align:center;
    padding:0;
    margin:0;
    font-size:28px;
    left:45%;
background-color:black;
}
.hov4{
    top:35%;
    left:45%;
    transform:translate(-50%,-50%);
    font-size:28px;
    text-align:center;
    position:absolute;
    width:60%;
    height:70%;
}
.hov4 >p{
    position:absolute;
    transform:translate(-50%);
    color:white;
    width:100%;
    font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    top:55%;
    text-align:center;
    padding:0;
    margin:0;
    font-size:28px;
    left:45%;
background-color: black;
}
.hov5{
    top:35%;
    left:45%;
    transform:translate(-50%,-50%);
    font-size:28px;
    text-align:center;
    position:absolute;
    width:60%;
    height:70%;
}
.hov5 >p{
    position:absolute;
    transform:translate(-50%);
    color:white;
    width:100%;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    top:55%;
    text-align:center;
    padding:0;
    margin:0;
    font-size:28px;
    left:45%;
background-color: black;
}
.hov6{
    top:35%;
    left:45%;
    transform:translate(-50%,-50%);
    font-size:28px;
    text-align:center;
    position:absolute;
    width:60%;
    height:70%;
}
.hov6 >p{
    position:absolute;
    transform:translate(-50%);
    color:white;
    width:100%;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    top:55%;
    text-align:center;
    padding:0;
    margin:0;
    font-size:28px;
    left:45%;
background-color: black;
}
.hov7{
    top:35%;
    left:45%;
    transform:translate(-50%,-50%);
    font-size:28px;
    text-align:center;
    position:absolute;
    width:60%;
    height:70%;
}
.hov7 >p{
    position:absolute;
    transform:translate(-50%);
    color:white;
    width:100%;
    font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    top:55%;
    text-align:center;
    padding:0;
    margin:0;
    font-size:28px;
    left:45%;
background-color: black;
}
form#iud ::placeholder{
    color:white;
}
::placeholder{
    color:white;
}
.col-md-12{
    position:relative;
    right:180px;
}
#name{
    position:relative;
  width:370px;
}
#email{
    position:relative;
    width:370px;
}